media_prefixes = xs, sm, md, xl
col_classes = ""

for prefix in media_prefixes
  push(col_classes, ".col-ft-%s" % prefix)
  for index in 1..12
    push(col_classes, ".col-ft-%s-%s" % (prefix index))

.row-ft-padded
  margin-left: - grid-gutter-width
  margin-right: - grid-gutter-width
  .row-ft
    border-spacing: grid-gutter-width 0

.row-ft
  display: table
  width: 100%
  table-layout: fixed

{join(',', col_classes)}
  vertical-align: top

make-cols(prefix)
  for index in 1..12
    .col-ft-{prefix}-{index}
      width: percentage(index / grid-columns)
      display: table-cell

  for index in 1..11
    .col-ft-{prefix}-offset-{index}
      margin-left: percentage(index / grid-columns)
      float: left

make-cols(xs)

@media (min-width: screen-sm-min)
  make-cols(sm)

@media (min-width: screen-md-min)
  make-cols(md)

@media (min-width: screen-lg-min)
  make-cols(lg)
