media_prefixes = xs, sm, md, xl
col_classes = ""

for prefix in media_prefixes
  push(col_classes, ".col-ft-%s" % prefix)
  for index in 1..12
    push(col_classes, ".col-ft-%s-%s" % (prefix index))

.row-ft-padded
  margin-left: - grid-gutter-width
  margin-right: - grid-gutter-width
  .row-ft
    border-spacing: grid-gutter-width 0

.row-ft
  display: table
  width: 100%
  table-layout: fixed

{join(',', col_classes)}
  display: table-cell
  vertical-align: top

for index in 1..12
  .col-ft-xs-{index}
    width: percentage(index / grid-columns)

for index in 1..11
  .col-ft-xs-offset-{index}
    margin-left: percentage(index / grid-columns)
    float: left
