doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    meta(name='description', content='flex-table-grid test page')

    meta(name='author', content='Constantine Fedenko')

    title flex-table-grid
    // Bootstrap core CSS
    link(href='node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // flex-table-grid CSS
    link(href='dist/css/flex-table-grid.min.css', rel='stylesheet')

    link(href='assets/grid.css', rel='stylesheet')


  body
    .container
      .page-header
        h1 flex-table-grid

        p.lead flex-table-grid test page

      h2 Basic grid

      .row-ft.row-ft-test
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
        .col-ft-xs-1 1
      .row-ft.row-ft-test
        .col-ft-xs-2 2
        .col-ft-xs-2 2
        .col-ft-xs-2 2
        .col-ft-xs-2 2
        .col-ft-xs-2 2
        .col-ft-xs-2 2
      .row-ft.row-ft-test
        .col-ft-xs-3 3
        .col-ft-xs-3 3
        .col-ft-xs-3 3
        .col-ft-xs-3 3
      .row-ft.row-ft-test
        .col-ft-xs-4 4
        .col-ft-xs-4 4
        .col-ft-xs-4 4
      .row-ft.row-ft-test
        .col-ft-xs-6 6
        .col-ft-xs-6 6
      .row-ft.row-ft-test
        .col-ft-xs-12 12

      h3 Nested

      .row-ft.row-ft-test
        .col-ft-xs-6.nested
          .row-ft
            .col-ft-xs-12 12
          .row-ft
            .col-ft-xs-6 6
            .col-ft-xs-6.nested
              .row-ft
                .col-ft-xs-6 6
                .col-ft-xs-6 6
        .col-ft-xs-6 6

      h3 Offsets

      .row-ft.row-ft-test
        .col-ft-xs-1.col-ft-xs-offset-11 1
      .row-ft.row-ft-test
        .col-ft-xs-2.col-ft-xs-offset-10 2
      .row-ft.row-ft-test
        .col-ft-xs-3.col-ft-xs-offset-9 3
      .row-ft.row-ft-test
        .col-ft-xs-4.col-ft-xs-offset-8 4
      .row-ft.row-ft-test
        .col-ft-xs-5.col-ft-xs-offset-7 5
      .row-ft.row-ft-test
        .col-ft-xs-6.col-ft-xs-offset-6 6
      .row-ft.row-ft-test
        .col-ft-xs-7.col-ft-xs-offset-5 7
      .row-ft.row-ft-test
        .col-ft-xs-8.col-ft-xs-offset-4 8
      .row-ft.row-ft-test
        .col-ft-xs-9.col-ft-xs-offset-3 9
      .row-ft.row-ft-test
        .col-ft-xs-10.col-ft-xs-offset-2 10
      .row-ft.row-ft-test
        .col-ft-xs-11.col-ft-xs-offset-1 11

      h4 Auto Width

      .row-ft.row-ft-test
        .col-ft-xs-1 1
        .col-ft-xs auto
      .row-ft.row-ft-test
        .col-ft-xs-4 4
        .col-ft-xs auto
        .col-ft-xs auto
      .row-ft.row-ft-test
        .col-ft-xs-1 1
        .col-ft-xs.nested
          .row-ft
            .col-ft-xs auto
          .row-ft
            .col-ft-xs-6 6
            .col-ft-xs-6 6


      h3 Gutters
      .row-ft-padded
        .row-ft.row-ft-test
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
          .col-ft-xs-1 1
        .row-ft.row-ft-test
          .col-ft-xs-2 2
          .col-ft-xs-2 2
          .col-ft-xs-2 2
          .col-ft-xs-2 2
          .col-ft-xs-2 2
          .col-ft-xs-2 2
        .row-ft.row-ft-test
          .col-ft-xs-3 3
          .col-ft-xs-3 3
          .col-ft-xs-3 3
          .col-ft-xs-3 3
        .row-ft.row-ft-test
          .col-ft-xs-4 4
          .col-ft-xs-4 4
          .col-ft-xs-4 4
        .row-ft.row-ft-test
          .col-ft-xs-6 6
          .col-ft-xs-6 6
        .row-ft.row-ft-test
          .col-ft-xs-12 12
